html {
    background-color: rgb(174, 41, 214);
    }
    body {
        background-color: #b81cb0;
        width: 600px;
        border: 2px solid rgb(170, 39, 83);
        padding: 2px 35px 30px 30px;
        margin: 0 auto;
        }
        h1{
            color: lightblue;
            }
            img{
                width: 50%;
                margin: 0 auto;
                padding: 10px 20px 20px 30px;
                display: block;
                }
                
        
    